<h1>Donations</h1>

<h2>Donations by Bucket</h2>
<div class="grid grid-cols-2 gap-4">
  <% DonationBucket.all.each do |bucket| %>
    <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-4">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white"><%= bucket.name %></h3>
      <p class="text-gray-700 dark:text-gray-300"><%= bucket.donations_sum %> (<%= bucket.donations.count %> donations)</p>
    </div>
  <% end %>
</div>

<% content_for :index_table_header do %>
  <th scope="col" class="px-4 py-3">Date</th>
  <th scope="col" class="px-4 py-3">Amount</th>
  <th scope="col" class="px-4 py-3">Donor</th>
  <th scope="col" class="px-4 py-3">
      <span class="sr-only">Actions</span>
  </th>
<% end %>

<% content_for :index_table_rows do %>
  <% @donations.each do |donation| %>
    <tr class="border-b dark:border-gray-700">
      <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= donation.date %></th>
      <td class="px-4 py-3"><%= donation.amount %></td>
      <td class="px-4 py-3"><%= donation.donor.name %></td>
      <td class="px-4 py-3 flex items-center justify-end">
        <%= link_to "View", donation, class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
        <%= link_to "Edit", edit_donation_path(donation), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
      </td>
    </tr>
  <% end %>
<% end %>

<%= render "shared/index_table", collection: @donations %>

